{% block _order_review_payment_methods_oro_cybersource_hosted_checkout_widget -%}
    {% if options.payment_method is defined %}
        {% set componentOptions = view.options.componentOptions|default({}) %}

        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'orocybersource/js/app/components/hosted-checkout/order-review-component',
            '~data-page-component-options': componentOptions|merge({paymentMethod: options.payment_method}),
            '~class' : ' hidden'
        }) %}

        <div {{ block('block_attributes') }}></div>
    {% endif %}
{%- endblock %}

{% block _order_review_payment_methods_oro_cybersource_checkout_api_widget -%}
    {% if options.payment_method is defined %}
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'orocybersource/js/app/components/checkout-api/order-review-component',
            '~data-page-component-options': {paymentMethod: options.payment_method},
            '~class' : ' hidden'
        }) %}

        <div {{ block('block_attributes') }}></div>
    {% endif %}
{%- endblock %}
