{% block _payment_methods_oro_cybersource_hosted_checkout_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <div>{{ 'oro.cybersource.payment_method.option.description'|trans|nl2br }}</div>
    </div>
{% endblock %}

{% block _payment_methods_oro_cybersource_checkout_api_widget %}
    {% if view.options.error|default(false) %}
        <div class="notification notification--error">
            <span class="notification__text">{{ 'oro.cybersource.error.api'|trans }}</span>
        </div>
    {% else %}
        {{ form_widget(
            view.options.formView,
            {class_prefix: class_prefix, paymentMethod: name, options: view.options}
        )}}
    {% endif %}
{% endblock %}
