/* @theme: admin.oro; */

.oro-cybersource-number-container {
    height: 39px;
}

.oro-cybersource-CVV2-container {
    height: 39px;
    width: 64px !important;
}

.microform-validation-failed {
    @extend .validation-failed;
}
